<div class="cover-room">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
<% @entries.each  do |e| %>
    <% if @myUserId != e.user.id %>
      <h2 class="font-weight-normal"><%= e.user.name %>さんとのトークルーム</h2>
    <% end %>
<% end %>
<%= link_to "ユーザー一覧に戻る", users_path %>
<div class="ml-3 mb-3 card w-100">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
        <% if @myUserId == m.user.id %>
          <div class="d-flex justify-content-end mb-2">
            <p class="bg-success-subtle p-2 rounded d-inline-block"><%= m.body %></p>
          </div>
        <% else %>
          <div class="text-left mt-2">
            <p class="bg-danger-subtle p-2 rounded d-inline-block"><%= m.body %></p>
          </div>
        <% end %>
    <% end %>
<% end %>
</div>

<div class = "chat-input-container">
  <%= form_for @message, html: { class: "d-flex align-items-center w-100"} do |f| %>
    <div class="d-flex">
      <%= f.text_field :body, placeholder: "メッセージを入力して下さい", size: 50, class:"form-text-field message-input" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信する", class:"form-submit ml-2" %>
    </div>
  <% end %>
</div>
</div>
</div>
</div>