<div class="cover-room">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
<% @entries.each  do |e| %>
    <% if @myUserId != e.user.id %>
      <h2 class="font-weight-normal"><%= e.user.name %>さんとのトークルーム</h2>
    <% end %>
<% end %>
<%= link_to "ユーザー一覧に戻る", users_path %>
<div class="ml-3 mb-3 card w-60">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
        <% @myUserId =m.user.id %>
        <p><%= m.body %></p>
    <% end %>
<% end %>
</div>

<div class = "d-flex justify-content-center w-100">
<%= form_for @message do |f| %>
  <div class="d-flex flex-column align-items-center">
    <%= f.text_field :body, placeholder: "メッセージを入力して下さい", size: 50, class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信する", class:'form-submit' %>
  </div>
<% end %>
</div>
</div>
</div>
</div>